[Unit]
Description=MISP Modules
After=redis.service
Requires=redis.service

[Container]
AutoUpdate=registry
ContainerName=modules
Image=ghcr.io/misp/modules:latest
Network=misp-net
PodmanArgs=--network-alias modules
EnvironmentFile=vars.env

[Service]
EnvironmentFile=%h/.config/containers/systemd/vars.env
ExecStartPre=/bin/sleep 30

[Install]
WantedBy=default.target
