{{- if not .Values.misp.vault.enabled }}
---
{{- $passwordLength := .Values.misp.mispConfig.extraVars.PASSWORD_LENGTH | default 20 | int }}
{{- $password := include "common.secrets.passwords.manage" (dict "secret" (include "misp.secretName" .) "key" "password" "length" $passwordLength "strong" true "providedValues" (list "misp.auth.adminPassword") "honorProvidedValues" true "context" $) | trimAll "\"" | b64dec }}
{{- $apiKey := include "common.secrets.passwords.manage" (dict "secret" (include "misp.secretName" .) "key" "apikey" "length" 40 "providedValues" (list "misp.auth.apiKey") "honorProvidedValues" true "context" $) | trimAll "\"" | b64dec }}
{{- $mariadbSecretName := printf "%s-mariadb" (include "common.names.fullname" $) }}
{{- $rootPassword := include "common.secrets.passwords.manage" (dict "secret" $mariadbSecretName "key" "mariadb-root-password" "length" 20 "providedValues" (list "mariadb.auth.rootPassword") "honorProvidedValues" true "context" $) | trimAll "\"" | b64dec }}
{{- $replicationPassword := include "common.secrets.passwords.manage" (dict "secret" $mariadbSecretName "key" "mariadb-replication-password" "length" 20 "providedValues" (list "mariadb.auth.replicationPassword") "honorProvidedValues" true "context" $) | trimAll "\"" | b64dec }}
{{- $backupPassword := include "common.secrets.passwords.manage" (dict "secret" $mariadbSecretName "key" "mariadb-backup-password" "length" 20 "providedValues" (list "mariadb.auth.backupPassword") "honorProvidedValues" true "context" $) | trimAll "\"" | b64dec }}

---
{{- if eq (include "misp.createSecret" .) "true" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "common.names.fullname" $ }}-misp-secrets
  labels:
    app: {{ $.Chart.Name }}
type: Opaque
data:
  username: {{ .Values.misp.auth.adminEmail | b64enc | quote }}
  password: {{ $password | b64enc | quote }}
  apikey: {{ $apiKey | b64enc | quote }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "common.names.fullname" $ }}-valkey
  labels:
    app: {{ $.Chart.Name }}
type: Opaque
data:
  password: {{ randAlphaNum 20 | b64enc }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "common.names.fullname" $ }}-mariadb
  labels:
    app: {{ $.Chart.Name }}
type: Opaque
data:
  mariadb-backup-password: {{ $backupPassword | b64enc | quote }}
  mariadb-replication-password: {{ $replicationPassword | b64enc | quote }}
  mariadb-root-password: {{ $rootPassword | b64enc | quote }}
  mariadb-password: {{ "admin" | b64enc }}
{{- end }}
