name: Build the Docker images and push them to the container registry

on:
  push:
    branches: [ "master" ]
  workflow_dispatch: # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target: [misp-core, misp-modules, misp-core-slim, misp-modules-slim, misp-guard]

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Initialize environment
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          sed -e '/^[[:space:]]*$/d' -e '/[#@]/d' -e 's/\"//g' -e 's/\(^[^=]*\)=\(.*\)/\1="\2"/' template.env > env.hcl
          echo "COMMIT_HASH=`echo '${{ github.sha }}' | cut -c 1-7`" >> "$GITHUB_ENV"
          OWNER=$(echo "$GITHUB_REPOSITORY_OWNER" | tr '[:upper:]' '[:lower:]')
          echo "NAMESPACE=ghcr.io/${OWNER}/misp-docker" >> "$GITHUB_ENV"

      - name: Log in to the container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/bake-action@v6
        with:
          source: .
          push: true
          provenance: false
          files: docker-bake.hcl, env.hcl
          targets: ${{ matrix.target }}
          # set: |
          #   *.cache-from=type=gha
          #   *.cache-to=type=gha,mode=max
